{% extends 'index.html' %}
{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-80 g-mt-60">
        <div class="container text-center">
          <h2 class="h2 g-color-black g-font-weight-600">Blog</h2>
  
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" 
                    href="{{url_for('main.index')}}">Home</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" 
                    href="{{url_for('portfolio.portfoliolist')}}">Blog</a>
              <!-- <i class="g-color-gray-light-v2 g-ml-5">/</i> -->
            </li>
            <!-- <li class="list-inline-item g-color-primary">
              <span>portfolio.tag</span>
            </li> -->
          </ul>
        </div>
      </section>
      <!-- End Breadcrumbs -->
  
      <!-- Blog Minimal Blocks -->
      <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
          <div class="col-lg-9 g-mb-80">
            <div class="g-pr-20--lg">
                    {% for portfolio in portfolios.items %}
              <!-- Blog Minimal Blocks -->
              <article class="g-mb-100">
                <div class="g-mb-30">
                  <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">{{portfolio.date_posted.strftime('%d, %b %Y')}}</span>
                  <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                      <a class="u-link-v5 g-color-black g-color-primary--hover" href="portfolio/{{portfolio.id}}">{{portfolio.title}}</a>
                    </h2>
                  <p class="g-color-gray-dark-v4 g-line-height-1_8">{{portfolio.content[:200]}}...</p>
                  <a class="g-font-size-13" href="portfolio/{{portfolio.id}}">Read more...</a>
                </div>
  
                <ul class="list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
                  <li class="list-inline-item g-color-gray-dark-v4 mr-2">
                    <span class="d-inline-block g-color-gray-dark-v4">
                        <img class="g-g-width-20 g-height-20 rounded-circle mr-2" src="../static/profile_pics/{{portfolio.user.image_file}}" alt="{{portfolio.user.username}}">
                        {{portfolio.user.username}}
                      </span>
                  </li>

                    <li class="list-inline-item g-mb-10 float-right">
                        <a class="u-tags-v1 g-color-white g-bg-primary g-bg-black--hover g-rounded-50 g-py-4 g-px-15" 
                                href="{{url_for('portfolio.filtered_portfolios', tag=portfolio.tag)}}">{{portfolio.tag}}</a>
                      </li>

                </ul>
              </article>
              <!-- End Blog Minimal Blocks -->
              {% endfor %}
            <!-- Pagination -->
            <nav class="text-center" aria-label="Page Navigation">
                    <ul class="list-inline">
    
    
                        {% if  portfolios.has_prev %}
                        <li class="list-inline-item float-left g-hidden-xs-down">
    
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" 
                                    href="{{ url_for('portfolio.portfoliolist', page=portfolios.prev_num) }}"
                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-left g-mr-5"></i> Previous
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <!-- <li class="list-inline-item float-left g-hidden-xs-down">
    
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!"
                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-left g-mr-5"></i> Previous
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li> -->
                        {% endif %}
    
                        {% for page_num in portfolios.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
                        {% if  page_num %} 
    
                        <li class="list-inline-item">
                            <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" 
                                    href="{{url_for('portfolio.portfoliolist', page=page_num)}}">{{page_num}}</a>
                        </li>
    
    
                        {% else %}
                        <li class="list-inline-item">
                                <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" 
                                        href="{{url_for('portfolio.portfoliolist', page=page_num)}}">{{page_num}}</a>
                            </li>
                        {% endif %}
    
                        {%endfor %}
    
                        {% if portfolios.has_next %}
                        <li class="list-inline-item float-right g-hidden-xs-down">
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" 
                                    href="{{ url_for('portfolio.portfoliolist', page=portfolios.next_num) }}"
                                aria-label="Next">
                                <span aria-hidden="true">
                                    Next
                                    <i class="fa fa-angle-right g-ml-5"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>{% else %}
                        <!-- <li class="list-inline-item float-right g-hidden-xs-down">
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!"
                                aria-label="Next">
                                <span aria-hidden="true">
                                    Next
                                    <i class="fa fa-angle-right g-ml-5"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li> -->
    
                        {% endif %}
                        
                    </ul>
                </nav>
                <!-- End Pagination -->
            </div>
          </div>
  
          <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-80">
            <div class="g-pl-20--lg">
              <!-- Links -->
              <div class="">
                <h3 class="h5 g-color-black g-font-weight-600 mb-4">Links</h3>
                <ul class="list-unstyled g-font-size-13 mb-0">
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> People</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> News Publications</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Marketing &amp; IT</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Business Strategy</a>
                  </li>
                  <li>
                    <a class="d-block active u-link-v5 g-color-black g-bg-gray-light-v5 g-font-weight-600 g-rounded-50 g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Untold Stories</a>
                  </li>
                </ul>
              </div>
              <!-- End Links -->

  
              <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-50" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
  
                <hr class="g-brd-gray-light-v4 g-mb-50">
  
                <!-- Categories -->
                <div class="g-mb-40">
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4">Categories</h3>
                  <ul class="u-list-inline mb-0">
                    
                    {%for tag in tags%}
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" 
                            href="{{url_for('portfolio.filtered_portfolios', tag=tag.name)}}">{{tag.name}}</a>
                    </li>
                    {%endfor%}
                  </ul>
                </div>
                <!-- End Categories -->
  
                <hr class="g-brd-gray-light-v4 g-my-50">
  

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Minimal Blocks -->

{% endblock content %}