{% extends "index.html" %}

<!--
  <div class="g-pos-rel g-width-50 g-pt-3--lg g-ml-30 g-ml-0--lg">
      <a href="#!" id="languages-dropdown-invoker-2" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2" data-dropdown-type="css-animation" data-dropdown-duration="500" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
    EN&nbsp;<i class="fa fa-angle-down g-ml-3"></i>
  </a>
      <ul id="languages-dropdown-2" class="list-unstyled text-left u-shadow-v23 g-pos-abs g-left-0 g-bg-white g-width-160 g-z-index-2 g-py-20 g-pb-15 g-mt-25--lg g-mt-20--lg--scrolling u-dropdown--css-animation u-dropdown--hidden" aria-labelledby="languages-dropdown-invoker-2" style="animation-duration: 500ms;">
        <li>
          <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="#!">English</a>
        </li>
        <li>
          <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="#!">Spanish</a>
        </li>
        <li>
          <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="#!">Russian</a>
        </li>
        <li>
          <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="#!">German</a>
        </li>
      </ul>
    </div>
-->

{% block content %}
<section class="g-brd-bottom g-brd-gray-light-v4">
    <div class="container g-py-150">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">
                    What are cookies?
                </h2>
                <p class="mb-0">
                    Cookies are small text files that the site sends to the terminal of the interested party (usually
                    the
                    browser), on which they are stored and then sent back to the site once they are
                    viewed a second time. Cookies can be used to record information about
                    your preferences, such as browsed pages or downloading files from our site or other similar actions
                    made by browsing our site.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container g-py-100">
    <div class="g-mb-50">
        <h3 class="g-color-black g-font-weight-600 mb-3">First and third party cookies</h3>
        <p>
            Cookies, so called, of "first part" are the cookies developed by the owner of the site,
            while "third party" cookies are defined as cookies developed by third parties, that is,
            different from the owner of the site. This is because on each site may be present elements
            (images, maps, sounds, specific links to web pages of other domains, etc.) that reside on servers
            other than that of the site visited.
        </p>

    </div>
    <div class="g-mb-50">
        <h3 class="g-color-black g-font-weight-600 mb-3">Cookies used</h3>
        <p>
            Cookies are used for different purposes and exist in various kinds: technical cookies (of
            navigation or session, analytics, functionality) and profiling cookies. Below is a list of
            cookies (logically listed at functionality and/or vendor level) present on our site.
        </p>
        <p>
            Third party cookies link to the privacy policy of the relevant third party provider,
            in which it is possible to find a detailed description of the individual cookies and of the
            treatment that comes with it. In the absence of such cookies, the site or certain portions of it may not
            to work properly. Therefore, they are always used, regardless of your preferences
            by the user. Cookies in this category are always sent from our domain.


        </p>
        <ul>
            <li class="mb-3">gat: this cookie is associated with Google Universal Analytics, it is used to limit speed
                of the request, limiting the collection of data on high-traffic sites. Expires after 10 minutes.</li>
            <li class="mb-3">gid: This cookie is associated with Google Universal Analytics, it is used to distinguish
                between
                users. Expires after 24 hours</li>
            <li class="mb-3">ga: this cookie is associated with Google Universal Analytics, it is used to distinguish
                between
                users. Expires after 2 years</li>

        </ul>
    </div>
    <div class="g-mb-50">
        <h3 class="g-color-black g-font-weight-600 mb-3">Third party services analysis cookies</h3>
        <p>
            These cookies are used to collect information about the use of the site by the users of the site.
            anonymous users such as: pages visited, dwell time, origins of traffic, etc.
            origin, geographical origin, age, gender and interests for the purposes of marketing campaigns. These
            cookies are sent from third party domains outside the Site. <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
        </p>

    </div>
    <div class="g-mb-50">
        <h3 class="g-color-black g-font-weight-600 mb-3">Cookies used</h3>
        <p>
            This type of cookie integrates features developed by third parties within the pages of the site,
            like the icons and preferences expressed on social networks in order to share the contents of the
            site or for the use of third party software services (such as software to generate maps and further
            software offering additional services). These cookies are sent from third party domains and sites
            partners who offer their functionality between the pages of the Site.
        </p>
        <p>
            The third party cookies used for these purposes in this site, its full disclosure and the
            possibility to manage the consent, the modalities to manage the opt-out and/or deactivation are indicated
            below.


        </p>
        <ul>
            <li class="mb-3">Facebook: full information and opt-out procedures available at <a href="https://facebook.com/help/cookies/">https://facebook.com/help/cookies/</a>
            </li>
            <li class="mb-3">Instagram: complete information and opt-out methods available at <a href="https://
                                        help.instagram.com/155833707900388">https://
                    help.instagram.com/155833707900388</a> </li>
            <li class="mb-3">YouTube: full information and opt-out options available at <a href="https://
                                        support.google.com/youtube/answer/7671399?
                                        p=privacy_guidelines&hl=it&visit_id=1-636627534857459920-3846949566&rd=1">https://
                    support.google.com/youtube/answer/7671399?
                    p=privacy_guidelines&hl=it&visit_id=1-636627534857459920-3846949566&rd=1</a> </li>

        </ul>
        <p>There are NO profiling cookies on our site.</p>
    </div>
    <div class="g-mb-50">
            <h3 class="g-color-black g-font-weight-600 mb-3">Duration of cookies</h3>
            <p>
                    Cookies have an expiration date or are deleted through a specific action such as
                    closing the browser. Cookies can be:
            </p>

            <ul>
                <li class="mb-3">temporary or session cookies: they are used to store information about you.
                        temporary, allow you to link the actions performed during a specific session, and
                        are removed from the computer when the browser is closed;
                </li>
                <li class="mb-3">persistent cookies: these are used to store information, for example, the
                        login name and password, so that the user does not have to type them again
                        every time you visit a specific site. These also remain stored in the computer
                        after you close your browser.</li>
                <li class="mb-3">YouTube: full information and opt-out options available at <a href="https://
                                            support.google.com/youtube/answer/7671399?
                                            p=privacy_guidelines&hl=it&visit_id=1-636627534857459920-3846949566&rd=1">https://
                        support.google.com/youtube/answer/7671399?
                        p=privacy_guidelines&hl=it&visit_id=1-636627534857459920-3846949566&rd=1</a> </li>
    
            </ul>
            <p>The computer systems used for this site use both temporary cookies and cookies.</p>
        </div>


    <h3 class="g-color-black g-font-weight-600 mb-3">Cookies management</h3>
    <p>
            You can disable the cookies on the websites by activating the "anonymous navigation" mode - yes
            is a function that allows you to navigate without leaving a trace in the browser of the data of
            navigation. This function only allows you not to keep the navigation data in your browser.
    </p>
    <p>
            Alternatively, you can disable/delete cookies by accessing the configuration panel
            of your browser.
    </p>

    <h3 class="g-color-black g-font-weight-600 mb-3">Acceptance and Waiver of Cookies</h3>
    <p>
            Continuing the navigation on this site, closing the information band or clicking in
or by scrolling through it to highlight additional content, you accept the
Cookie Policy and we will set and collect cookies. You will always have the opportunity to
remove these cookies at any time by the means mentioned above.
    </p>

</section>
{% endblock content %}