{% extends 'admin/admin-page.html' %} {% block content %}



<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <div class="g-pa-20 g-px-50">
        <form method='post' action='' enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>{{title}}</legend>
                <!-- <div class='form-group'>
                    {{form.date_posted.label(class='form-control-label')}} 
                    {% if form.date_posted.errors %} 
                        {{form.date_posted(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.date_posted.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.date_posted(class='form-control form-control-lg')}} 
                    {% endif %}
                </div> -->
                <div class='form-group'>
                    {{form.title.label(class='form-control-label')}} 
                    {% if form.title.errors %} 
                        {{form.title(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.title.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.title(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.subtitle.label(class='form-control-label')}} 
                        {% if form.subtitle.errors %} 
                            {{form.subtitle(class='form-control form-control-lg is-invalid')}}
                            <div class='invalid-feedback'>
                                {% for error in form.subtitle.errors %}
                                    <span> {{error}} </span>
                                {% endfor %}
                            </div>
                    {% else %} 
                        {{form.subtitle(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.content.label(class='form-control-label')}} 
                    {% if form.content.errors %} 
                        {{form.content(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.content.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.content(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.client_name.label(class='form-control-label')}} 
                    {% if form.client_name.errors %} 
                    {{form.client_name(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.client_name.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.client_name(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tag.label() }} {{ form.tag(class="form-control rounded-0") }} 
                    {% if form.tag.errors %} 
                        {% for error in form.tag.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="form-group">

                    {{ form.image_file1.label()}} 
                    {{ form.image_file1(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.image_file1.errors %} 
                        {% for error in form.image_file1.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="form-group">

                    {{ form.image_file2.label()}} 
                    {{ form.image_file2(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.image_file2.errors %} 
                        {% for error in form.image_file2.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="form-group">

                    {{ form.image_file3.label()}} 
                    {{ form.image_file3(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.image_file3.errors %} 
                        {% for error in form.image_file3.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="form-group">

                    {{ form.client_logo.label()}} 
                    {{ form.client_logo(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.client_logo.errors %} 
                        {% for error in form.client_logo.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>

            </fieldset>
                <div class='form-group'>
                    <div class="text-center">
                        <!-- <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                            g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button> -->

                        {{ form.submit(class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                        g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10")}}

                    </div>
                </div>
        </form>
    </div>
</div>
{%endblock content%}