{% extends 'admin/admin-page.html' %} {% block content %}



<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <div class="g-pa-20 g-px-50">
        <form method='post' action='' enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>{{title}}</legend>
                <div class='form-group'>
                    {{form.title.label(class='form-control-label')}} 
                    {% if form.title.errors %} 
                        {{form.title(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.title.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.title(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.subtitle.label(class='form-control-label')}} 
                        {% if form.subtitle.errors %} 
                            {{form.subtitle(class='form-control form-control-lg is-invalid')}}
                            <div class='invalid-feedback'>
                                {% for error in form.subtitle.errors %}
                                    <span> {{error}} </span>
                                {% endfor %}
                            </div>
                    {% else %} 
                        {{form.subtitle(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.section_title.label(class='form-control-label')}} 
                    {% if form.section_title.errors %} 
                        {{form.section_title(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.section_title.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.section_title(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.section_content.label(class='form-control-label')}} 
                    {% if form.section_content.errors %} 
                        {{form.section_content(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.section_content.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.section_content(class='form-control form-control-lg', rows=40)}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.subsection_title.label(class='form-control-label')}} 
                    {% if form.subsection_title.errors %} 
                    {{form.subsection_title(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.subsection_title.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.subsection_title(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.subsection_content.label(class='form-control-label')}} 
                    {% if form.subsection_content.errors %} 
                        {{form.subsection_content(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.subsection_content.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.subsection_content(class='form-control form-control-lg', rows=40)}} 
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{form.quote.label(class='form-control-label')}} 
                    {% if form.quote.errors %} 
                        {{form.quote(class='form-control form-control-lg is-invalid')}}
                        <div class='invalid-feedback'>
                            {% for error in form.quote.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{form.quote(class='form-control form-control-lg')}} 
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.category.label() }} {{ form.category(class="form-control rounded-0") }} 
                    {% if form.category.errors %} 
                        {% for error in form.category.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="form-group">

                    {{ form.image_file.label()}} 
                    {{ form.image_file(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.image_file.errors %} 
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>

            </fieldset>
                <div class='form-group'>
                    <div class="text-center">
                        <!-- <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                            g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button> -->

                        {{ form.submit(class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                        g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10")}}

                    </div>
                </div>
        </form>
    </div>
</div>
{%endblock content%}