{% extends 'admin/admin-page.html' %} {% block content %}



<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <div class="g-pa-20 g-px-50">
        <form method='post' action='' enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>{{title}}</legend>
                <div>
                    {{ form.image_file.label()}} 
                    {{ form.image_file(class="form-control-file js-file-attachment", style="position: absolute;
                    left: -9999px; top: -9999px; z-index: -9999;") }} 
                    {% if form.image_file.errors %} 
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span>
                            </br>
                        {% endfor %} 
                    {% endif %}
                </div>

            </fieldset>
                <div class='form-group'>
                    <div class="text-center">
                        <!-- <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                            g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button> -->

                        {{ form.submit(class="btn btn-md btn-xl--md u-btn-lightblue-v3 
                        g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10")}}

                    </div>
                </div>
        </form>
    </div>
</div>
{%endblock content%}