{% extends 'admin/admin-page.html' %}
{% block content %}
   

        


<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <div class="g-pa-20">
      <div class="row">
        <div class="col-md-3 g-mb-30 g-mb-0--md">
          <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
            <!-- User Information -->
            <section class="text-center g-mb-30 g-mb-50--md">
              <div class="d-inline-block g-pos-rel g-mb-20">

                <img class="img-fluid rounded-circle" src="{{ image_file }}" alt="Image description">
              </div>

              <h3 class="g-font-weight-300 g-font-size-20 g-color-black mb-0">{{ user.username }}</h3>
            </section>
            <!-- User Information -->



            <!-- Profile Sidebar -->
            <section>
              <ul class="list-unstyled mb-0">
                <li class="g-brd-top g-brd-gray-light-v7 mb-0">
                  <a class="d-flex align-items-center u-link-v5 g-parent g-py-15 active" href="{{url_for('admin.admin_update_information')}}">
                    <span class="g-font-size-18 g-color-gray-light-v6 g-color-lightred-v3--parent-hover g-color-lightred-v3--parent-active g-mr-15">
                  <i class="hs-admin-user"></i>
              </span>
                    <span class="g-color-gray-dark-v6 g-color-lightred-v3--parent-hover g-color-lightred-v3--parent-active">Profile Information</span>
                  </a>
                </li>


                <li class="g-brd-top g-brd-gray-light-v7 mb-0">
                  <a class="d-flex align-items-center u-link-v5 g-parent g-py-15" href="{{url_for('admin.admin_update_photo')}}">
                    <span class="g-font-size-18 g-color-gray-light-v6 g-color-lightred-v3--parent-hover g-color-lightred-v3--parent-active g-mr-15">
                  <i class="hs-admin-image"></i>
              </span>
                    <span class="g-color-gray-dark-v6 g-color-lightred-v3--parent-hover g-color-lightred-v3--parent-active">Photo</span>
                  </a>
                </li>

              </ul>
            </section>
            <!-- End Profile Sidebar -->
          </div>

        </div>
        <div class="col-md-9">
            <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
              <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <header>
                  <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">General information</h2>
                </header>

                <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                <div class="row g-mb-20">
                    <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md ">
                      {{ form.username.label(class="form-control-label mb-0") }}
                    </div>

                    <div class="col-md-9 align-self-center">
                      <div class="form-group g-pos-rel mb-0 has-success">
                        <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                      </span>
                        <!-- <input id="firstName" name="firstName" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="text" value="Charlie" required="required" data-msg="This field is mandatory" data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true" aria-invalid="false"> -->
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12") }}
                        {% endif %}
                      </div>
                    </div>
                  </div>



                <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                <div class="text-center">
                  <!-- <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button> -->
                  
                  {{ form.submit(class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10") }}

                </div>
              </form>
            </div>
          </div>
      </div>
    </div>

  </div>


{% endblock content %}